@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

/* UTIL CLASSES */

input {
  cursor: pointer;
  transition: all 0.5s;
}

input[type='color']:hover {
  transform: scale(1.1);
}

.btn {
  outline: none;
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: all 0.5s;
}

.btn:hover {
  transform: scale(1.1);
}

.active {
  background-color: rgba(0, 90, 255, 0.75);
}

/* HEADER */

.header {
  background-color: #333;
  padding: 40px 0;
}

.header-title {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  color: #fff;
}

/* MAIN */

.main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 200px;
}

input[type='color']::before {
  content: 'Color Picker';
  display: block;
  width: 200px;
  margin: 10px 0;
}

input[type='color'] {
  width: 75px;
  height: 75px;
  background: none;
  border: none;
  margin-bottom: 40px;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

input[type='range'] {
  width: 100%;
}

label[for='sizePicker'] {
  margin-top: -20px;
}

.paraSize {
  margin-bottom: -20px;
}

.grid {
  display: grid;
  width: 500px;
  height: 500px;
  box-shadow: 5px 5px 15px 0px rgba(50, 50, 50, 0.25);
}

.grid-element {
  user-select: none;
  border: 1px solid rgb(245, 245, 245);
}

@media (max-width: 850px) {
  .main {
    gap: 50px;
    margin-top: 50px;
  }

  .settings {
    gap: 15px;
    width: 150px;
  }

  label[for='sizePicker'] {
    margin-top: -10px;
    font-size: 0.85rem;
  }

  .paraSize {
    margin-bottom: -10px;
    font-size: 0.85rem;
  }

  .grid {
    height: 400px;
    width: 400px;
  }
}

@media (max-width: 650px) {
  .header-title {
    font-size: 2.5rem;
  }

  .main {
    flex-direction: column-reverse;
    margin-top: 50px;
  }

  .settings {
    margin: -30px 0 30px 0;
  }

  .grid {
    width: 350px;
    height: 350px;
  }
}
